/Thrift100K/Thrift100Server/target/
/Thrift100K/Thrift100Client/target/
/ClientConnectionPool/QSThriftServer/target/
/ClientConnectionPool/ClientConnectionPool/target/
/ThriftS100/100Server/target/
/100KREQSServer/target/
/TestSerDeSer/target/
/AsyncClientTest/ThriftServerOption/target/
/ThriftSettingOption/ThriftServerOption/target/
/ThriftSettingOption/ThriftSettingOption/target/